/* ==========================================================================
   404 Page
   ========================================================================== */



.error404 {
	.big-search {
		.search-form {
	  	max-width: 940px;
	  	margin: 50px auto;
		}
	}

	.alert {
		max-width: 940px;
		margin: auto;
	}
}
