/* ==========================================================================
   Homepage Templates
   ========================================================================== */

.page-template-template-home,
.page-template-template-home-2 {
	.navbar-fixed-top {
		border-bottom: none;
	}

	.wrap {
		padding-bottom: 0;
	}

	.main {
		padding-left: 0;
		padding-right: 0;
	}
}

.section {
	display: block;
	position: relative;
	width: 100%;
	padding-top: 60px;
	padding-bottom: 80px;
	font-size: 16px;

	@media (min-width: $screen-sm-min) {
		padding-top: 100px;
		padding-bottom: 120px;
	}

	.title {
		font-size: 28px;
		color: $grey-darker;
		font-weight: 400;
		line-height: 1.3;
		padding-top: 0;
		padding-bottom: 10px;
		margin-top: 0;
		margin-bottom: 15px;
		position: relative;

		&.small {
			font-size: 20px;
		}

		@media (min-width: $screen-sm-min) {
			font-size: 32px;
			padding-bottom: 15px;
			margin-bottom: 25px;

			&.small {
				font-size: 24px;
			}
		}
	}

	.subtitle {
		@extend .title;
		font-size: 18px;
		border-bottom: none;

		&.big {
			font-size: 36px;
		}

		@media (min-width: $screen-sm-min) {
			font-size: 22px;

			&.big {
				font-size: 40px;
			}
		}
	}

	.title,
	.subtitle {
		&.long {
			max-width: 85%;
			margin-left: auto;
			margin-right: auto;

			@media (min-width: $screen-sm-min) {
				max-width: 60%;
			}
		}
	}

	.entry-summary {
		p {
			font-size: 17px;
		}
	}

	img {
		display: block;
		max-width: 100%;
		height: auto;
		padding: 0;
	}

	.video {
		width: 640px;
		max-width: 100%;
		margin: 0 auto 25px;
	}

	&.text-white {
		color: $white;

		.title,
		.subtitle,
		.down-arrow,
		h1,h2,h3,h4,h5,h6,
		a {
			color: $white;
		}

		.btn {
			border-color: $white;

			&:active,
			&:hover,
			&:focus {
				color: initial !important;
				background: $white;
			}
		}

		.secondary-link {
			text-shadow: $text-shadow-1;

			&:hover,
			&:active,
			&:focus {
				border-color: $white;
			}
		}

		.down-arrow {
			text-shadow: $text-shadow-1;

			&:active,
			&:hover,
			&:focus {
				color: $grey-light;
			}
		}
	}

	&.text-black {
		.title,
		.subtitle,
		.down-arrow,
		h1,h2,h3,h4,h5,h6,
		a {
			color: $grey-darker;
		}

		.btn {
			color: $grey-darker;
			border-color: $grey-darker;

			&:active,
			&:hover,
			&:focus {
				color: initial !important;
			}
		}

		.down-arrow {
			text-shadow: $text-shadow-1;

			&:active,
			&:hover,
			&:focus {
				color: $grey-dark;
			}
		}
	}
}

.grey-bg {
	background-color: #ecf0f1;
}

.bg-image {
	@include background-image;

	.title {
		text-shadow: $text-shadow-1;
		color: $white;
	}

	.subtitle {
		@extend .title;
		color: $white;
	}
}

#cover {
	padding-top: 120px;
	padding-right: 30px;
	padding-left: 30px;
	background-color: rgba(0,0,0,0);
  overflow: hidden;
  height: 100%;
  z-index: 2;

	.title {
		font-weight: 600;
		font-size: 32px;
		text-align: center;
		border-bottom: none;
	}

	.subtitle {
		@extend .title;
		font-size: 22px;
		border-bottom: none;
	}

	.btn {
		margin-top: 50px;
	}

	@media (min-width: $screen-sm-min) {
		min-height: 500px;
		padding-top: 180px;
		padding-right: 50px;
		padding-left: 50px;

		.title {
			font-size: 52px;
		}

		.subtitle {
			font-size: 30px;
		}
	}

	@media (min-width: $screen-lg-min) {
		min-height: 600px;
		padding-top: 220px;
		padding-right: 80px;
		padding-left: 80px;
	}

	@media (max-height: 479px) and (max-width: $screen-sm-min) {
		height: 50%;
		padding-top: 60px;
	}
}

/* Homepage 1 */

.page-template-template-home {
	.section {
		.title {
			border-bottom: $border-grey-lighter-2px;
		}
	}

	.grey-bg {
		.title {
			border-bottom: $border-grey-light-2px;
		}
	}

	#about-us,
	#tlc {
		margin-bottom: 50px;

		img {
			width: 100%;
			margin-bottom: 15px;
		}
	}

	#subscribe {
		padding-top: 35px;
		padding-bottom: 35px;

		.title {
			font-weight: 600;
			font-size: 24px;
			text-align: center;
			border-bottom: none;
			margin-bottom: 15px;
			padding-bottom: 0;
		}
	}

	#content-section-1,
	#content-section-2 {
		@media (min-width: $screen-md-min) {
			.col-sm-6:first-child {
				padding-right: 30px;
			}

			.col-sm-6:last-child {
				padding-left: 30px;
			}
		}
	}

	#quote {
		text-align: center;

		.quote-credit {
			opacity: .75;
		}
	}

	#featured-link {
		text-align: center;
		overflow: hidden;

		h2 {
			line-height: 1.45;
		}

		img {
			margin: 15px auto 0;
			width: 100%;
			max-width: 800px;
		}

		.btn {
			margin-top: 30px;
		}
	}

	#featured-product {
		img {
			float: left;
			width: auto;
			height: 250px;
			margin-right: 25px;
		}

		.entry-summary {
			p {
				font-size: 19px;
			}
		}

		.btn {
			float: right;
		}
	}
}


/* Homepage 2 */
.page-template-template-home-2 {
	.section {
		text-align: center;
		// min-height: 640px;

		.btn {
			margin-top: 50px;

			&.search-submit {
				margin-top: 0;
			}
		}

		.btn-primary {
			border-color: transparent;
			background-color: $accent-color;
			color: $white;

			&:hover,
			&:active,
			&:focus {
				background-color: darken($accent-color, 10%);
				color: $white;
			}
		}

		.secondary-link {
			display: inline-block;
			margin-top: 20px;
		}

		&.text-white {
			.btn {
				border-color: transparent;
				background-color: $white;
				color: initial;

				&:active,
				&:hover,
				&:focus {
					background-color: darken($white, 8%);
				}
			}
		}

		.big-search {
			.search-form {
				margin: 0px auto;
				max-width: 500px;
			}
		}

		.quote {
			.subtitle {
				color: $grey-dark;
			}
		}

		img.size-medium-banner {
			display: block;
			margin: 15px auto 25px;
			max-width: 100%;

			@media (min-width: $screen-sm-min) {
				max-width: 800px;
				width: 100%;
			}
		}
	}

	#cover {
		min-height: 500px;

		@media (min-width: $screen-sm-min) {
			min-height: 540px;
		}

		@media (min-width: $screen-lg-min) {
			min-height: 680px;
		}
	}

	#featured-link {
		.description {
			font-size: 22px;
		}
	}

	.link-photo {
		display: inline-block;
		margin: 15px auto 25px;
		max-width: 100%;
	}

	#product {
		img {
			display: block;
			margin: 15px auto 25px;
			max-width: 100%;
		}
	}

	#what-we-offer {
		.distinctive {
			h4 {
				margin-bottom: 40px;
			}
		}
	}

	.distinctive {
		img {
			margin: 10px auto 10px;
			width: 240px;
		}

		h4 {
			font-weight: 400;
			line-height: 1.4;
			font-size: 22px;
			color: $grey-dark;
			margin-bottom: 0;
		}

		h5 {
			font-weight: 400;
			line-height: 1.4;
			margin-bottom: 0;
		}
	}

	.distinctive-link {
		display: block;
		text-align: center;
		margin: 0 auto 5px;
	}

	.quote {
		.subtitle {
			margin-bottom: 0;
		}
	}

	#about,
	#featured-quotes {
		.secondary-link {
			margin-top: 60px;
		}
	}

	.featured-quote {
		p {
			@media (min-width: $screen-sm-min) {
				min-height: 9em;
			}

			@media (min-width: $screen-md-min) {
				min-height: 6em;
			}
		}

		img {
			margin: 10px auto 20px;
			border-radius: 50%;
			max-width: 100px;

			@media (min-width: $screen-sm-min) {
				max-width: none;
			}
		}

		.quote-author {
			margin-bottom: 50px;

			@media (min-width: $screen-sm-min) {
				margin-bottom: 0;
			}
		}
	}

	#podcast,
	#product {
		padding-top: 80px;
		padding-bottom: 100px;

		@media (min-width: $screen-sm-min) {
			padding-top: 100px;
			padding-bottom: 120px;
		}
	}

	#blog {
		.entry-title {
			margin-top: 20px;

			@media (min-width: $screen-sm-min) {
				margin-top: 0;
			}
		}
	}

	#product {
		@media (min-width: $screen-sm-min) {
			text-align: left;

			.title,
			.subtitle {
				text-align: left;
				margin-left: 0;
				margin-right: 0;

				&.long {
					max-width: 100%;
				}
			}

			.btn,
			.secondary-link {
				margin-left: 0;
				margin-right: 0;
			}

			.btn {
				margin-top: 0;
			}

			img {
				margin-top: 0;
			}
		}
	}

	#search {
		.search-submit {
			margin-top: 0;
			margin-left: -4px;

			.fa {
				margin-left: 0;
			}
		}
	}
}
