/* ==========================================================================
   Custom Stylesheet for SoulShepherding.org
   by David Gaultiere (http://www.davidgaultiere.com)
   ========================================================================== */

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


/* ==========================================================================
   Base Styles
   ========================================================================== */

/** Basic Colors **/
$black:									#000;
$grey-darker:						#333;
$grey-medium:						#555;
$grey: 									#9c9c9c;
$grey-lighter: 					lighten($grey, 30%);
$white:									rgb(255,255,255);
$white-66:							rgba(255,255,255,0.66);
$white-33:							rgba(255,255,255,0.33);

/** Specific-Use Colors **/
$nav-highlight:					#3498db;
$link-color:						#3498db;
$link-color-hover:			#3498db;
$accent-color:					#3498db;
$footer-bg-color:				#34495e;
$page-header-color:			#555;

/** Border/Box Variables **/
$border-radius:  				3px;
$border-grey-1px:				1px solid #c9c9c9;
$border-grey-1px-dot:		1px dotted #c9c9c9;
$border-grey-2px:				2px solid #c9c9c9;
$box-shadow-1: 					0 1px 0 rgba(0,0,0,0.2);
$box-shadow-2: 					0 2px 0 rgba(0,0,0,0.2);
$box-shadow-3:					0 3px 0 rgba(0,0,0,0.2);
$box-shadow-blur-3:			0 1px 3px rgba(0,0,0,0.5);

/** Text Variables **/
$font-bernino:					'jaf-bernino-sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva', 'Verdana', sans-serif;
$font-freight:					'freight-text-pro', 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$text-shadow-1:					0 0 3px rgba(0,0,0,.5);


/** Mixins **/

@mixin background-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@mixin prose-heading {
	font-family: $font-bernino;
	font-weight: 600;
	letter-spacing: -0.72px;
	line-height: 1.2;
	margin-bottom: 4px;
}

@mixin prose-body {
	font-family: $font-freight;
	font-size: 19px;
	font-weight: 300;
	letter-spacing:0.159px;
	line-height: 1.5;
	margin-bottom: 24px;
	word-wrap: break-word;
}

@mixin prose-body-sans {
	font-family: $font-bernino;
	font-size: 17px;
	font-weight: 400;
	letter-spacing:0.159px;
	line-height: 1.5;
	margin-bottom: 24px;
	word-wrap: break-word;
}

@mixin hyphenate {
  overflow-wrap: break-word;
      word-wrap: break-word;
  -ms-word-wrap: break-all;
      word-wrap: break-all;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}


/* Flatten das boostrap */

.well, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .add-on, .alert, .table-bordered, .tooltip-inner, .badge, .label, .img-polaroid {
	-webkit-box-shadow: none !important;
 		 -moz-box-shadow: none !important;
 		 			box-shadow: none !important;
 	border-radius: $border-radius;
	border-collapse: collapse !important;
	background-image: none !important;
}


/** Basic Elements **/

html {
	margin:0;
	padding:0;
	height: 100%;
}

body {
	font-family: $font-bernino;
	font-size: 17px;
	font-weight: 400;
	color: $grey-darker;
	min-height:100%;
}

.wrap {
	padding-top: 0;
	padding-bottom: 75px;

	@media (min-width: $screen-sm-min) {
		padding-top: 100px;
	}
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-weight: 600;
	margin-top: 20px;
}

h1,
.h1 {
	font-size: 36px;
}

h2,
.h2 {
	font-size: 30px;
}

h3,
.h3 {
	font-size: 27px;
}

h4,
.h4 {
	font-size: 23px;
}

h5,
.h5 {
	font-size: 19px;
}

h6,
.h6 {
	font-size: 17px;
}

a {
	color: $link-color;

	&:hover,
	&:active,
	&:focus {
		color: $link-color-hover;
	}
}

p {
	text-rendering: optimizeLegibility;
	-webkit-font-feature-settings: "kern";
		 -moz-font-feature-settings: "kern";
		 -moz-font-feature-settings: "kern=1";
		 			font-feature-settings: "kern";
	font-kerning: normal;
}

.main,
.archive-top-content {
	h1, h2, h3, h4, h5, h6 {
		@include prose-heading;
	}

	p,
	ul,
	ol {
		@include prose-body-sans;
	}

	ul,
	ol {
		overflow: hidden;
	}
}

.serif {
	.main,
	.archive-top-content {
		p,
		ul,
		ol {
			@include prose-body;
		}

		/* Class to use sans-serif font for body text even on serif-specified page */
		p.sans-serif {
			@include prose-body-sans;
		}
	}
}

.entry-summary {
	@include prose-body;
}

/* Ensure blog posts use serif font unless otherwise indicated */
.entry-content.serif {
	@include prose-body;
}

/* Handy little class to make a quote or line of text stand out */
.callout,
.main .callout,
.archive-top-content .callout {
	text-align: center;
	font-family: $font-freight;
	font-weight: 600;
	font-style: italic;
	letter-spacing:0.159px;
	line-height: 1.4;
	margin-bottom: 20px;
}

img {
	border-radius: 2px;
}

.alignleft {
  display: block;
  margin: 15px auto;

	@media (min-width: $screen-sm-min) {
    float: left;
    margin: 15px 20px 15px 0;
	}
}

.alignright {
  display: block;
  margin: 15px auto;

	@media (min-width: $screen-sm-min) {
    float: right;
    margin: 15px 0 15px 20px;
	}
}

.aligncenter {
  display: block;
  margin: 15px auto;
}

.topimage {
	margin-top: 0 !important;
}

.wp-caption-text {
	font-size: 15px;
	color: $grey;
	padding-top: 7px;
}

textarea {
	resize:vertical;
}




/* ==========================================================================
   Header and Navigation
   ========================================================================== */

.navbar {
	margin-bottom: 0;
	padding: 10px 0;
	font-weight: 400;
	background: $white;
	position: relative;
	@include transition(all 0.2s);

	@media (min-width: $screen-sm-min) {
		position: fixed;
		padding: 25px 0;
	}

	.social-links-above {
		display: none;
		@include transition(all 0.2s);

		@media (min-width: $screen-sm-min) {
			display: block;
		}
	}

	.social-links-below {
		display: block;
		@include transition(all 0.2s);

		@media (min-width: $screen-sm-min) {
			display: none;
		}
	}

	.social-links {
		text-align: center;
		padding-bottom: 20px;
		line-height: 1;
		list-style-type: none;
 		-webkit-padding-start: 0px;
		-webkit-margin-before: 0px;
		 -webkit-margin-after: 0px;
		 -webkit-margin-start: 0px;
		   -webkit-margin-end: 0px;
		@include transition(all 0.2s);

		@media (min-width: $screen-sm-min) {
			float: right;
			padding-bottom: 10px;
		}

		.fa {
			font-size: 16px;
			padding: 0;
			height: auto;
			width: auto;
			margin-right: 5px;
			color: $accent-color;
			background-color: transparent;

			&:hover,
			&:active,
			&:focus {
				color: darken($accent-color, 10%);
				background-color: transparent;
			}
		}

		li:last-child a {
			margin-right: 15px;

			@media (min-width: $screen-sm-min) {
				margin-right: 0;
			}
		}
	}
}

.navbar-brand {
	color: $grey-medium;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -0.025em;
	height: auto;
	line-height: 1.3333;
	padding: 18px 15px 15px;
	margin-left: 0px;
	@include transition(all 0.2s);

	&:hover,
	&:active,
	&:focus {
		color: $nav-highlight;
	}

	.thin {
		font-weight: 400;
	}

	img {
		height: auto;
		max-width: 200px;
		max-height: 36px;
		margin: -9px -2px;
	}

	@media (min-width: $screen-sm-min) {
		font-size: 24px;
		letter-spacing: inherit;
		padding: 15px 15px 0;
		margin-left: 0px;

		img {
			max-width: 240px;
			max-height: 42px;
			margin-top: -5px;
		}
	}

	@media (min-width: $screen-md-min) {
		font-size: 28px;
		margin-left: 0px;

		img {
			max-width: 280px;
			max-height: 46px;
			margin-top: -6px;
		}
	}

	@media (min-width: $screen-lg-min) {
		img {
			max-width: 320px;
			max-height: 50px;
		}
	}
}

.navbar-nav {
	li {
		text-transform: capitalize;
		font-weight: 400;
		font-size: 16px;
		padding: 10px 15px;
		text-align: center;

		@media (min-width: $screen-sm-min) {
			padding: 0 9px;
			font-size: 16px;

			&:last-child {
				padding-right: 0;
			}
		}

		@media (min-width: $screen-md-min) {
			font-size: 17px;
		}

		a {
			padding: 0 0 5px;
			line-height: normal;
			background: transparent;
			color: $grey-medium;
			border-bottom: 2px solid transparent;
			max-width: 150px;
			margin: 0 auto;
			@include transition(all 0.2s);

			&:hover,
			&:active,
			&:focus {
				background: transparent;
				color: $nav-highlight;
				border-color: rgba(0,0,0,0.2);
			}
		}
	}

	.active {
		a {
			color: $nav-highlight;
		}

		.dropdown-menu {
			a {
				color: $grey-medium;

				&:hover,
				&:active,
				&:focus {
					color: $nav-highlight;
				}
			}

			.active {
				a {
					color: $nav-highlight;
				}
			}
		}
	}

	.dropdown {
		@include transition(all 0.2s);

		.dropdown-toggle {
			@include transition(all 0.2s);
		}

		.caret {
			margin: 0;
		}

		.dropdown-menu {
			right: 5px;
			@include transition(all 0.2s);

			a {
				border-color: transparent;
			}
		}
	}

	.open {
		.dropdown-toggle,
		.dropdown-toggle:hover,
		.dropdown-toggle:focus {
			background: transparent;
			border-color: transparent;
		}

		.dropdown-menu {
			border: none;
			border-radius: $border-radius;
			background-color: #f5f5f5;
			margin-top: -2px;
			padding-top: 10px;
			padding-bottom: 2px;
			@include transition(all 0.2s);

			@media (min-width: $screen-sm-min) {
				display: inline-block;
				background-color: $white;
				padding-top: 10px;
				padding-bottom: 5px;
				box-shadow: $box-shadow-blur-3;
			}

			li {
				padding: 4px 10px;
				text-align: center;
				font-size: 15px;
				background-color: transparent;

				@media (min-width: $screen-sm-min) {
					padding: 3px 15px;
				}

				@media (min-width: $screen-md-min) {
					font-size: 16px;
				}

				a {
					max-width: 160px;
					padding: 0 0 5px;
					background-color: transparent;
					border-color: transparent;
					border-width: 1px;
				}
			}
		}
	}
}

.navbar-right {
	clear: right;
	margin-right: 0;
}

.navbar-collapse {
	max-height: none;
}

.navbar-toggle {
	padding: 4px 4px 2px;
	@include transition(all 0.2s);

	&:hover,
	&:active,
	&:focus {
		color: $nav-highlight;
		@include transition(all 0.2s);

		.icon-bar {
			background-color: $nav-highlight;
			@include transition(all 0.2s);
		}

		.icon-menu {
			color: $nav-highlight;
			@include transition(all 0.2s);
		}
	}

	.icon-bar {
		background-color: $grey-medium;
		width: 30px;
		height: 3px;
		@include transition(all 0.2s);

		+.icon-bar {
			margin-top: 5px;
		}
	}

	.icon-menu {
		display: block;
		margin-top: 3px;
		color: $grey-medium;
		font-size: 10px;
		font-weight: 700;
		font-family: sans-serif;
		text-align: center;
		text-transform: uppercase;
		@include transition(all 0.2s);
	}

	@media (min-width: $screen-sm-min) {
		margin: 36px 20px;
	}
}


@media (min-width: $screen-sm-min) {
	.navbar-shrink {
		box-shadow: $box-shadow-blur-3;
		padding: 16px 0 12px;
		@include transition(all 0.2s);

		.navbar-brand {
			font-size: 24px;
			padding-top: 0;
		}

		.navbar-nav {
			padding-top: 6px;
		}

		*[class^='social-links'] {
			display: none;
		}
	}
}

.navbar-fixed-top {
	top: 0px;
}

@media (min-width: $screen-sm-min) {
	body.admin-bar {
		.navbar-fixed-top {
			top: 32px !important;
		}
	}

	@media (max-width: 782px) {
		body.admin-bar {
			.navbar-fixed-top {
				top: 46px !important;
			}
		}
	}
}



/* ==========================================================================
   Design Paradigms
   ========================================================================== */

/** Forms **/

form,
.form-group {
	label {
		font-family: $font-bernino;
		font-weight: 600;
		font-size: 16px;
	}
}

input,
textarea,
.form-control,
.btn {
	color: $grey-medium;
	border: $border-grey-2px;

	&:focus {
		border-color: $accent-color;
	}
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  	 -moz-appearance: none;
          appearance: none;
}

.form-control {
	padding-left: 8px;
	padding-right: 8px;
}

/** Links & Buttons **/


.btn {
	font-family: $font-bernino;
	font-weight: 400;
	font-size: 16px;
	@include transition(all 0.2s);

	&:hover,
	&:active,
	&:focus {
		color: $white;
		border-color: $accent-color;
		background-color: $accent-color;
	}
}

.btn-primary,
.subscribe-form .button {
	color: darken($accent-color, 10%);
	background-color: $white;
	border-color: $accent-color;

	&:hover,
	&:active,
	&:focus {
		color: $white;
		background-color: $accent-color;
		border-color: $accent-color;
	}
}

.btn-inline {
	display: inline-block;
	padding: 3px 4px 2px;
	line-height: 1;
}

.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group,
.input-group-btn>.btn+.btn {
	margin-left: -2px;
}

.search-form {
	.btn {
		font-size: 14px;
	}

	.input-group-btn .btn {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.more-button {
	display: block;
	text-align: right;

	a {
		display: inline-block;
	  padding: 3px 4px 2px;
	  font-size: 12px;
	  line-height: 1.2;
	  font-family: $font-bernino;
	  // border: 1px solid $grey;
	  border: $border-grey-2px;
	  border-radius: 3px;
	  color: $grey-medium;
	  @include transition(all 0.2s);

		&:hover,
		&:active,
		&:focus {
			color: $white;
			background-color: $accent-color;
			border-color: $accent-color;
			text-decoration: none;
		}

		@media (min-width: $screen-sm-min) {
			font-size: 13px;
			bottom: 16px;
		}
	}
}

.read-more-link {
	@extend .more-button;

	margin-top: 7px;
}

.view-all {
	@extend .more-button;

	position: absolute;
  right: 0;
  bottom: 15px;
}

/** Links **/

.heading-link {
	color: $grey-medium;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
}

.plain-link {
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
}



/** Post Snippets **/

.snippet {
	.entry-title {
		text-align: center;
		margin: 0 auto;
	}

	.entry-title.over {
		color: $white;
		max-height: 50px;
		text-shadow: $text-shadow-1;
		text-overflow: ellipsis;
		-webkit-font-smoothing: subpixel-antialiased
	}

	.entry-title.below {
		font-size: 16px;
		margin-bottom: 15px;
		color: $grey-darker;
		text-decoration: none;

		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
		}
	}

	.entry-meta-container {
		.post-type {
			display: none;
		}
	}

	.entry-summary {
		@include prose-body;
		@include hyphenate;

		margin-top: 15px;
		margin-bottom: 50px;
		font-size: 17px;
		text-align: justify;

		@media (min-width: $screen-sm-min) {
			margin-bottom: 30px;
		}

		p {
			font-size: 17px;
		}
	}

	.snippet-thumbnail {
		@include background-image;
		background-color: #c9c9c9;
		width: 100%;
		margin-bottom: 15px;
		max-height: 240px;
		padding: 12.5%;
		border-radius: 2px;
		overflow: hidden;
		text-overflow: ellipsis;
		@include transition(all 0.2s);

		&:hover,
		&:active,
		&:focus {
			opacity: 0.8;
			filter: alpha(opacity=80);
		}

		@media (min-width: $screen-sm-min) {
			padding: 15%;
		}
	}
}



/** Entry Template **/

.entry-title {
	a {
	@extend .heading-link;
	}
}


/** Down Arrow **/

.down-arrow {
	font-size: 42px;
	width: 30px;
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -15px;
	color: $grey-darker;
	text-align: center;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		color: $grey;
		text-decoration: none;
	}
}


/** Pagination **/

.serif,
.sans-serif {
	ul.pagination {
		@include prose-heading;
		font-weight: 400;
		font-size: 17px;
	}
}

.pagination {
	display: table;
	margin: 10px auto;

	li {
		a {
			margin-right: 7px;
			padding: 4px 9px;
			border-radius: 4px;
			border: 1px solid transparent;
		}
	}
}

/** Social Links **/
.social-links {
	li {
		display: inline;
	}

	.fa {
		text-align: center;
		display: inline-block;
		border-radius: 50%;
		font-size: 16px;
		padding: 7px;
		height: 31px;
		width: 31px;
		margin-right: 6px;
		color: $white;
		background-color: $grey-medium;

		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
			background-color: $accent-color;
		}
	}
}




/* ==========================================================================
   Default Page & Post Styles
   ========================================================================== */

.template-full-width {
	.navbar-fixed-top {
		border-bottom: none;
	}
}

.header-background {
	@include background-image;
	height: 175px;
  margin: 0 -15px 40px;
  padding: 40px 0 25px;

  .page-header {
  	color: $white;
		text-shadow: $text-shadow-1;
	  border-bottom: 0;

	  h1 {
		  font-size: 24px;
		  width: 100%;
		  height: 80px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    letter-spacing: -0.025em;
	  }

	  @media (min-width: $screen-sm-min) {
		  h1 {
			  font-size: 36px;
				letter-spacing: inherit;
		  }
	  }
  }
}


/** Archive Post **/

.blog,
.archive,
.search-results {
	article {
		border-bottom: $border-grey-1px-dot;
		margin-bottom: 45px;
		padding-bottom: 45px;

		&:last-child {
			border-bottom: 0;
			margin-bottom: 0;
		}

		header {
			margin-bottom: 15px;
		}

		.entry-title {
			font-size: 24px;
		}

		p {
			font-size: 17px;
			margin-bottom: 0;
		}

		.entry-summary {
			margin-bottom: 0;
		}
	}
}


/** Entry Meta **/

.entry-meta-container {
	font-size: 14px;
	color: $grey-medium;
	margin-bottom: 10px;
	display: table;
	clear: both;

	.meta-datapoint {
		margin-right: 12px;
		float: left;
		padding: 2px 0;
		display: table;
	}

	i {
		margin-right: 3px;
		color: $accent-color;
	}

	.post-type {
		text-transform: capitalize;
		padding-left: 6px;
		padding-right: 6px;
		border-radius: $border-radius;
		background: #eee;
	}

	.date { }

	.author {
		a { color: $grey-medium; }
	}

	.category {
		a { color: $grey-medium; }
	}

	.tags {
		a { color: $grey-medium; }
	}
}

.single-post {
	.entry-meta-container {
		margin-bottom: 30px;
	}

	.featured-image {
		margin-bottom: 25px;
	}
}


/** Featured Image **/

/*
.featured-image {
	width: 100%;
	max-width: 480px;
	max-height: 320px;
	overflow: hidden;
	margin-bottom: 15px;
	border-radius: $border-radius;

	@media (min-width: $screen-sm-min) {
		max-width: 320px;
		max-height: 100%;
		float: left;
		margin-right: 20px;
		margin-bottom: 0;
	}

	.wp-post-image {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
}

.entry-summary {
	.featured-image {
	  position: relative;
	  overflow: hidden;
	  padding-bottom: 180px;
		background-color: #c9c9c9;
		@include transition(all 0.2s);

		&:hover,
		&:active,
		&:focus {
			opacity: 0.8;
			filter: alpha(opacity=80);
			color: rgba(0,0,0,1);
			text-decoration: underline;
		}

		.wp-post-image {
			display: block;
	    position: absolute;
	    top: -9999px;
	    bottom: -9999px;
	    left: -9999px;
	    right: -9999px;
	    margin: auto;
	    min-width: 100%;
		}
	}
}

.product-thumbnail {
	@include background-image;
	background-size: contain;
	width: 100%;
	margin-bottom: 15px;
	padding: 30%;
	border-radius: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	font-weight: 600;
	color: rgba(0,0,0,0);
	@include transition(all 0.2s);

	&:hover,
	&:active,
	&:focus {
		opacity: 0.8;
		filter: alpha(opacity=80);
		color: rgba(0,0,0,1);
		text-decoration: underline;
	}

	@media (min-width: $screen-sm-min) {
		padding: 30%;
	}
}
*/

.featured-image {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-bottom: 15px;
	border-radius: $border-radius;

	@media (min-width: $screen-sm-min) {
		float: left;
		width: auto;
		margin-right: 20px;
	}

	.wp-post-image {
		width: auto;
		max-width: 100%;
		height: auto;
		max-height: 300px;

		@media (min-width: $screen-sm-min) {
			max-height: 150px;
		}
	}
}

.entry-summary {
	.featured-image {
	  position: relative;
	  overflow: hidden;
		text-align: center;
		@include transition(all 0.2s);

		&:hover,
		&:active,
		&:focus {
		}

		@media (min-width: $screen-sm-min) {
			width: 30%;
		}

		@media (min-width: $screen-md-min) {
			width: 20%;
		}

		a {
			display: inline-block;
			margin: 0 auto;
		}
	}
}


/** Sidebar **/

aside {
	border-top: $border-grey-1px;
	margin-top: 75px;
	padding-top: 25px;
	font-size: 15px;

	h3 {
		font-size: 16px;
		font-weight: 400;
		padding-bottom: 8px;
		border-bottom: $border-grey-1px;
	}

	@media (min-width: $screen-sm-min) {
		border-top: 0;
		margin-top: 0;
		padding-top: 0;
	}

	@media (min-width: $screen-md-min) {
		padding-left: 50px !important;
	}

	.widget {
		margin-top: 25px;

		@media (min-width: $screen-sm-min) {
			&:first-child {
				margin-top: 0;
			}
		}

		ul {
			list-style: none;
			padding-left: 0;

			li {
				margin-bottom: 8px;
				line-height: 1.24;
			}
		}
	}

	.widget_search h3 {
		display: none;
	}
}


/** Share Buttons **/

.social-share-container {
	h3 {
		font-size: 18px;
	}

	ul {
		list-style: none;
		padding-left: 0;
		display: table;
		margin-top: 10px;
	}

	li {
		display: inline-block;
		margin-right: 10px;
		float: left;

		a {
			display: inline-block;
			width: 44px;
			height: 44px;
			position: relative;
			border: $border-grey-2px;
			border-radius: 50%;
			text-decoration: none;
			background-color: transparent;

			&:hover,
			&:active,
			&:focus {
				border-color: transparent;
			}
		}

		.fa {
			display: block;
			margin: 9px auto;
			padding-left: 1px;
			text-align: center;
			font-size: 22px;
			line-height: 22px;
		}

		.facebook-icon {
			.fa {
				color: #3b5998;
			}

			&:hover,
			&:active,
			&:focus {
				background-color: #3b5998;

				.fa {
					color: $white;
				}
			}
		}

		.twitter-icon {
			.fa {
				color: #55acee;
			}

			&:hover,
			&:active,
			&:focus {
				background-color: #55acee;

				.fa {
					color: $white;
				}
			}
		}

		.email-icon {
			.fa {
				color: #1abc9c;
				font-size: 20px;
				margin-bottom: 11px;
			}

			&:hover,
			&:active,
			&:focus {
				background-color: #1abc9c;

				.fa {
					color: $white;
				}
			}
		}
	}
}


/** Comments **/

.comments {
	margin-top: 50px;
	border-top: $border-grey-1px-dot;
	padding-top: 25px;
	font-size: 14px;
	font-family: $font-bernino;

	h3 {
		font-size: 18px;
	}

	.comment-respond {
		margin-top: 25px;
	}

	.comment-list {
		list-style: none;
		padding-left: 50px;
		font-size: 14px !important;
		font-family: $font-bernino !important;

		p {
			font-family: $font-bernino;
			font-size: 14px;
		}

		.comment {
			margin-top: 25px;
			margin-bottom: 25px;

			.reply {
				display: none;
				visibility: hidden;
			}
		}

		.comment-meta {
			margin-bottom: 10px;

			.comment-metadata,
			.comment-author {
				pointer-events: none;
				cursor: default;

				a {
					color: $grey;
				}

				.fn .url {
					color: $grey-darker;
				}

				.edit-link a {
					pointer-events: all;
					cursor: pointer;
					color: $link-color;
					margin-left: 6px;
				}
			}

			.avatar {
				float: left;
				margin-left: -50px;
				width: 40px;
				height: 40px;
			}

			.says {
				display: none;
				visibility: hidden;
			}
		}

		.comment-awaiting-moderation {
			display: inline-block;
			color: $grey-medium;
			font-style: italic;
			background-color: lighten(#ecc132, 37%);
			border: 1px solid;
			border-color: lighten(#ecc132, 23%);
			border-radius: $border-radius;
			padding: 2px 6px;
			margin: 5px 0 0;
		}
	}

	.comment-form {
		.comment-notes,
		.logged-in-as {
			font-family: $font-bernino;
			font-weight: 400;
			font-size: 14px;
		}

		label, .btn {
			font-size: 14px;
		}
	}
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
    width: 50%;
}

.comment-form-comment {
	textarea {
		resize: none;
	}
}

.form-allowed-tags {
	display: none;
	visibility: hidden;
}




/* ==========================================================================
   Post Type Archives
   ========================================================================== */

.post-type-archive {
	.entry-meta-container {
		.post-type {
			display: none;
		}
	}

	.entry-summary {
		@include prose-body;

		p,
		ul,
		ol {
			@include prose-body;
		}
	}
}

.archive-top-content {
	margin-bottom: 50px;
}

.grid-item {
	margin-bottom: 40px;

	.featured-image {
		float: none;
		text-align: center;
		margin-right: 0;

		a {
			display: inline-block;
			margin: 0 auto;
		}
	}

	.entry-title {
		text-align: center;
		font-size: 20px;
		margin-top: 0;
		margin-bottom: 5px;
	}

	.entry-meta-container {
		display: block;
		// text-align: center;
		font-size: 15px;
		color: $grey-medium;
		margin: 8px 0 12px;
	}

	.meta-datapoint {
		margin: 0 6px;
		float: none;
		display: inline-block;
	}

	.entry-meta-product {
		.author {
			// font-style: italic;
		}

		.price {
			margin-top: -10px;
			font-size: 24px;
			float: right;
			margin-right: 0;

			i {
				font-size: 16px;
				margin-right: -3px;
			}
		}
	}

	.entry-meta-video {
		text-align: center;
	}

	.entry-summary {
		font-size: 17px;

		@media (min-width: $screen-lg-min) {
			font-size: 18px;
		}
	}
}

.blog {
	.post-type {
		display: none;
	}

	.entry-summary {
		@include prose-body;

		p,
		ul,
		ol {
			@include prose-body;
		}
	}
}

.post-type-archive-event {
	#upcoming-events-title {
		text-align: center;
		background: $grey-lighter;
		padding: 10px 0;
		margin: -40px 0 60px;
	}

	#past-events-title {
		text-align: center;
		background: $grey-lighter;
		padding: 10px 0;
		margin: 80px 0;
	}
}

.post-type-archive-product {
	.entry-summary {
		@include prose-body-sans;

		p,
		ul,
		ol {
			@include prose-body-sans;
		}
	}

	.featured-image {
		.wp-post-image {
			max-width: 80%;

			@media (min-width: $screen-sm-min) {
				max-height: 300px;
			}
		}
}
}

.post-type-archive-associate {
	.featured-image {
		.wp-post-image {
			border-radius: 50%;
		}
	}

	.entry-meta-container {
		text-align: center;
	}

	.entry-summary {
		text-align: center;
	}
}




/* ==========================================================================
   Post Type Singles
   ========================================================================== */

.single {
	.post-type {
		display: none;
	}
}

.single-product,
.single-event,
.single-associate {
	.featured-image {
		width: 100%;
		margin-bottom: 15px;
		border-radius: $border-radius;

		@media (min-width: $screen-sm-min) {
			max-width: 100%;
		}

		.wp-post-image {
			width: auto;
			min-width: 250px;
			max-width: 100%;
			height: auto;
			max-height: 400px;
			display: block;
			margin: 0 auto;

			@media (min-width: $screen-xs-min) {
				margin: 0;
			}

			@media (min-width: $screen-sm-min) {
				min-width: 150px;
			}
		}
	}

	header {
		margin-bottom: 40px;
		text-align: center;

		@media (min-width: $screen-xs-min) {
			text-align: left;
		}
	}

	.entry-meta-container {
		margin: 15px auto 0;

		@media (min-width: $screen-xs-min) {
			margin: 15px 0 0;
		}

		.meta-datapoint {
			font-size: 16px;
		}

		.post-type {
			display: none;
		}

		.price {
			margin-top: -10px;
			font-size: 24px;
			float: right;
			margin-right: 0;

			i {
				font-size: 16px;
				margin-right: -3px;
			}
		}
	}

	.btn-product,
	.btn-event {
		display: block;
		margin-top: 15px;

		@media (min-width: $screen-xs-min) {
			display: inline-block;
			min-width: 150px;
		}
	}
}

.single-associate {
	.featured-image {
		.wp-post-image {
			border-radius: 50%;
		}
	}
}

iframe[src*="simplecast.com"] {
	border: 1px solid #c9c9c9;
	border-radius: 4px;
}




/* ==========================================================================
   Homepage Template
   ========================================================================== */

.home,
.page-template-template-home {
	.navbar-fixed-top {
		border-bottom: none;
	}

	.wrap {
		padding-bottom: 0;
	}

	.main {
		padding-left: 0;
		padding-right: 0;
	}
}

.section {
	display: block;
	position: relative;
	width: 100%;
	padding-top: 60px;
	padding-bottom: 80px;
	font-size: 16px;

	@media (min-width: $screen-sm-min) {
		padding-top: 80px;
		padding-bottom: 100px;
	}

	.title {
		font-size: 24px;
		color: $grey-darker;
		font-weight: 400;
		line-height: 1.3;
		padding-top: 0;
		padding-bottom: 10px;
		margin-top: 0;
		margin-bottom: 15px;
		border-bottom: $border-grey-1px;
		position: relative;

		@media (min-width: $screen-sm-min) {
			font-size: 32px;
			padding-bottom: 15px;
			margin-bottom: 25px;
		}
	}

	.subtitle {
		@extend .title;
		font-size: 18px;
		border-bottom: none;

		@media (min-width: $screen-sm-min) {
			font-size: 22px;
		}
	}

	img {
		display: block;
		width: 100%;
		height: auto;
		padding: 0;
	}
}

#cover {
	background-color: lighten($accent-color, 10%);
	@include background-image;
	height: 360px;
	padding-top: 120px;
	padding-right: 30px;
	padding-left: 30px;

	.title {
		font-weight: 600;
		font-size: 32px;
		color: $white;
		text-shadow: $text-shadow-1;
		text-align: center;
		border-bottom: none;
	}

	.subtitle {
		@extend .title;
		color: $white;
		font-size: 22px;
		border-bottom: none;
	}

	&.text-white {
		.title,
		.subtitle,
		.down-arrow {
			color: $white;
		}

		.down-arrow {
			text-shadow: $text-shadow-1;

			&:active,
			&:hover,
			&:focus {
				color: $grey-lighter;
			}
		}
	}

	&.text-black {
		.title,
		.subtitle,
		.down-arrow {
			color: $grey-darker;
		}

		.down-arrow {
			text-shadow: $text-shadow-1;

			&:active,
			&:hover,
			&:focus {
				color: $grey-medium;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		height: 500px;
		padding-top: 180px;
		padding-right: 50px;
		padding-left: 50px;

		.title {
			font-size: 52px;
		}

		.subtitle {
			font-size: 30px;
		}
	}

	@media (min-width: $screen-lg-min) {
		height: 600px;
		padding-top: 220px;
		padding-right: 80px;
		padding-left: 80px;
	}

	@media (max-height: 480px) {
		height: 50%;
		padding-top: 60px;
	}
}

#about {
	background-color: #ecf0f1;

	img {
		width: 280px;
		max-width: 100%;
		margin: 0 auto 35px;

		@media (min-width: $screen-sm-min) {
			float: left;
			margin: 0 20px 15px 0;
		}

		@media (min-width: $screen-md-min) {
			margin: 0 30px 25px 0;
			width: 320px;
		}
	}

	h4 {
		text-align: center;
		margin-top: 5px;
		margin-bottom: 15px;

		@media (min-width: $screen-sm-min) {
			text-align: left;
		}
	}
}

#featured {
	.snippet-thumbnail {
		max-height: 200px;

		span {
			display: inline-block;
			text-align: center;
			padding: 17.5%;
		}
	}

	.entry-summary {
		font-size: 15px;
	}
}




/* ==========================================================================
   Articles Page Template
   ========================================================================== */

.page-template-template-articles {
	h3 {
		margin-top: 40px;
	}

	.grid {
		margin-top: 25px;
	}
}

.article-search{
	.big-search {
		.search-form {
			margin-top: 25px;
		}
	}
}

.article-tags {
	.tag-cloud {
		margin: 15px auto 50px;
		text-align: center;

		a {
			text-align: center;
			display: inline-block;
			margin: 2px 5px;
		}
	}
}

.article-recent {
	h3 {
		margin-top: 0;
	}
}



/* ==========================================================================
   Contact Page Template
   ========================================================================== */

.contact-form {
	margin-top: 30px;

	@media (min-width: $screen-sm-min) {
		max-width: 640px;
	}
}

.form-asterisk {
	font-size: 14px;
	font-style: italic;
	color: $grey;
}

.page-template-template-contact {
	.sidebar {
		margin-top: 45px;

		@media (min-width: $screen-sm-min) {
			margin-top: 0;
		}

		.widget {
			margin-bottom: 25px;

			@media (min-width: $screen-sm-min) {
				padding-left: 5px;
			}

			@media (min-width: $screen-md-min) {
				padding-left: 15px;
			}

			h3 {
				margin-top: 0;
				font-size: 22px;
			}
		}
	}
}

.acf-map {
	width: 100%;
	height: 360px;
	margin: 0 auto;
}




/* ==========================================================================
   Subscription Page Template
   ========================================================================== */

.page-template-template-subscribe {
	.col-subscribe-form {
		&.right {
			border-top: $border-grey-1px-dot;

			@media (min-width: $screen-sm-min) {
				padding-left: 20px;
				border-top: none;

				h3 {
					text-align: left;
					margin-top: 0;
				}
			}
		}
	}

	.subscribe-form {
		&.top {
			border-bottom: $border-grey-1px-dot;
			padding-bottom: 25px;
			margin-bottom: 40px;
		}

		&.bottom {
			border-top: $border-grey-1px-dot;
			padding-top: 25px;
			margin-top: 40px;
		}

		h3 {
			margin-bottom: 15px;
			text-align: center;
		}

		.mc-field-group {
			margin-bottom: 15px;
		}

		input {
			float: left;
			outline: none;
			height: 36px;
			padding: 6px 12px;
			font-size: 16px;
			margin-right: 10px;
			@include transition(color 0.2s, background 0.2s, background-color 0.2s, border-color 0.2s);
		}

		.email {
			width: 100%;
			margin-bottom: 10px;

			@media (min-width: $screen-sm-min) {
				max-width: 520px;
			}
		}

		.button {
			// @extend .btn;
			// @extend .btn-primary;
			width: 100%;
			margin-right: 0;

			@media (min-width: $screen-sm-min) {
				width: auto;
			}
		}

		.alert {
			padding: 10px;
			font-size: 14px;
			max-width: 720px;
		}

		.clear {
			clear: both;
		}

		#mc_embed_signup {
			display: block;
			width: 640px;
			max-width: 100%;
			margin: 0 auto;

			div.mce_inline_error {
				padding: 10px;
				font-size: 14px;
				max-width: 720px;
				border-radius: $border-radius;
				border: 1px solid #ebccd1;
				background-color: #f2dede;
				color: #a94442;
				margin-top: 15px;
				margin-bottom: 20px;
				font-weight: 400;
			}

			input.mce_inline_error {
				border-color: #ebccd1;
			}
		}
	}
}



/* ==========================================================================
   Search Form Template
   ========================================================================== */

.big-search {
	.search-form {
	  display: block;
	  width: 100%;
	  margin: 50px auto;

	  .input-group {
		  width: 100%;

		  .input-group-btn {
			  width: 59px;
		  }
	  }

	  input,
	  button {
		  height: 50px;
		  padding: 10px 20px;
			font-size: 16px;
	  }
	}
}



/* ==========================================================================
   404 Page
   ========================================================================== */



.error404 {
	.big-search {
		.search-form {
	  	max-width: 940px;
	  	margin: 50px auto;
		}
	}

	.alert {
		max-width: 940px;
		margin: auto;
	}
}



/* ==========================================================================
   Footer
   ========================================================================== */

footer.content-info {
	bottom: 0;
	display: table;
	width: 100%;
	background: $footer-bg-color;
	margin: 0;
	padding: 25px 0;
	text-align: center;
	color: $white;
	font-size: 15px;

	a {
		color: $white-66;

		&:hover,
		&:active,
		&:focus {
			color: $white;
		}
	}

	h3 {
		text-align: center;
	  font-size: 15px;
	  text-transform: uppercase;
	  margin-top: 25px;
		color: $white;

	  @media (min-width: $screen-sm-min) {
	  	text-align: left;
	  }
	}

	.widget {
		width: 100%;
	  padding-top: 0;
	  margin-top: 0;
	  text-align: center;

	  ul {
			list-style: none;
			padding-left: 0;

			li {
				line-height: 1.2;
				margin-bottom: 8px;
			}
	  }

		.sub-menu,
		.children {
		  padding-left: 10px;
		  margin-top: 8px;

		  li {
			  margin-bottom: 0;
			  margin-top: 4px;
			  font-size: 15px;
		  }
		}

	  @media (min-width: $screen-sm-min) {
		  float: left;
		  width: 33.33%;
		  padding-left: 10%;
		  text-align: left;

		  &:first-child,
		  &:nth-child(4) {
			  padding-left: 0;
		  }
	  }

  	.post-date {
			display: inline-block;
		  font-size: 12px;
		  font-weight: 400;
		  margin-left: 3px;

		  &:before {
			  content: '–';
			  margin-right: 6px;
		  }

		  @media (min-width: $screen-sm-min) {
			  float: none;
			  margin-top: 2px;
		  }
	  }
	}

	.widget_text {
		ul {
	    list-style: inherit;
	    padding-left: 24px;

			li {
				line-height: inherit;
				margin-bottom: 0;
			}
		}
	}

	.social-links {
		.fa {
			color: $footer-bg-color;
			background-color: $white;

			&:hover,
			&:active,
			&:focus {
				background-color: $white-66;
			}
		}
	}

	.copyright {
		letter-spacing: 0.025em;
		font-size: 13px;
		margin-top: 40px;
	}
}
